# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
BackUp/
log/
xml/
dist/
nbproject/private/
nbproject/private/config.properties
build/built-jar.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/br/adp/geral/Geral.form
build/classes/br/calcu.png
build/classes/br/corents.png
build/classes/br/Dolar.png
build/classes/br/engrenagem.gif
build/classes/br/ESFERA.png
build/classes/br/full.png
build/classes/br/Jsys.png
build/classes/br/mAqua-1920-2.jpg
build/classes/br/nfce.png
build/classes/br/Paste.png
build/classes/br/rel/caixa/caixa.jasper
build/classes/br/rel/caixa/caixa.jrxml
build/classes/br/rel/caixa/caixaDespesasSub.jasper
build/classes/br/rel/caixa/caixaDespesasSub.jrxml
build/classes/br/rel/caixa/caixaLiberacaoSub.jasper
build/classes/br/rel/caixa/caixaLiberacaoSub.jrxml
build/classes/br/rel/caixa/caixaResumoDeCaixaSub.jasper
build/classes/br/rel/caixa/caixaResumoDeCaixaSub.jrxml
build/classes/br/rel/caixa/caixaTotalGeralSub.jasper
build/classes/br/rel/caixa/caixaTotalGeralSub.jrxml
build/classes/br/rel/caixa/ContasPagas.jasper
build/classes/br/rel/caixa/ContasPagas.jrxml
build/classes/br/rel/caixa/movimCaixa.jasper
build/classes/br/rel/caixa/movimCaixa.jrxml
build/classes/br/rel/caixa/ReciboAvulso.jasper
build/classes/br/rel/caixa/ReciboAvulso.jrxml
build/classes/br/rel/caixa/ReciboPagamento.jasper
build/classes/br/rel/caixa/ReciboPagamento.jrxml
build/classes/br/rel/cards/cardsCaixa.jasper
build/classes/br/rel/cards/cardsCaixa.jrxml
build/classes/br/rel/clientes/FichaCorrentista.jasper
build/classes/br/rel/clientes/FichaCorrentista.jrxml
build/classes/br/rel/clientes/ListaClientes.jasper
build/classes/br/rel/clientes/ListaClientes.jrxml
build/classes/br/rel/clientes/ListaColaboradores.jasper
build/classes/br/rel/clientes/ListaColaboradores.jrxml
build/classes/br/rel/clientes/ListaFornecedores.jasper
build/classes/br/rel/clientes/ListaFornecedores.jrxml
build/classes/br/rel/compras/listaCompras.jasper
build/classes/br/rel/compras/listaCompras.jrxml
build/classes/br/rel/crediario/convenioDebitos.jasper
build/classes/br/rel/crediario/convenioDebitos.jrxml
build/classes/br/rel/deposito/DevolucaoLojas.jasper
build/classes/br/rel/deposito/DevolucaoLojas.jrxml
build/classes/br/rel/deposito/listaTranferencia.jasper
build/classes/br/rel/deposito/listaTranferencia.jrxml
build/classes/br/rel/deposito/vendas/VendasLojas.jasper
build/classes/br/rel/deposito/vendas/VendasLojas.jrxml
build/classes/br/rel/deposito/vendas/vendasMesGeral.jasper
build/classes/br/rel/deposito/vendas/vendasMesGeral.jrxml
build/classes/br/rel/etiquetas/espelhosDeposito.jasper
build/classes/br/rel/etiquetas/espelhosDeposito.jrxml
build/classes/br/rel/etiquetas/Etiquetas3Colunas.jasper
build/classes/br/rel/etiquetas/Etiquetas3Colunas.jrxml
build/classes/br/rel/etiquetas/Etiquetas3ColunasDS.jasper
build/classes/br/rel/etiquetas/Etiquetas3ColunasDS.jrxml
build/classes/br/rel/etiquetas/EtiquetasJanela.form
build/classes/br/rel/etiquetas/Logo.jpg
build/classes/br/rel/filtros/FiltroData.form
build/classes/br/rel/filtros/FiltroDataCheques.form
build/classes/br/rel/filtros/FiltroDataInicialFinal.form
build/classes/br/rel/filtros/FiltroDataListaDeProdutos.form
build/classes/br/rel/filtros/FiltroDataListaFamilias.form
build/classes/br/rel/filtros/FiltroDataListaFornecedor.form
build/classes/br/rel/filtros/FiltroDatasCaixa.form
build/classes/br/rel/filtros/FiltroIdPagamento.form
build/classes/br/rel/filtros/FiltroIdProduto.form
build/classes/br/rel/filtros/FiltroVendedor.form
build/classes/br/rel/financeiro/ContasAPagar.jasper
build/classes/br/rel/financeiro/ContasAPagar.jrxml
build/classes/br/rel/financeiro/ContasPagas.jasper
build/classes/br/rel/financeiro/ContasPagas.jrxml
build/classes/br/rel/financeiro/RelacaoCheques.jasper
build/classes/br/rel/financeiro/RelacaoCheques.jrxml
build/classes/br/rel/financeiro/resumoContasPagas.jasper
build/classes/br/rel/financeiro/resumoContasPagas.jrxml
build/classes/br/rel/financeiro/subContasPagasResumo.jasper
build/classes/br/rel/financeiro/subContasPagasResumo.jrxml
build/classes/br/rel/financeiro/subContasPagasResumoVendas.jasper
build/classes/br/rel/financeiro/subContasPagasResumoVendas.jrxml
build/classes/br/rel/fiscal/danfeP.jasper
build/classes/br/rel/fiscal/danfeP.jrxml
build/classes/br/rel/fiscal/danfeR.jasper
build/classes/br/rel/fiscal/danfeR.jrxml
build/classes/br/rel/fiscal/impNfce79.jasper
build/classes/br/rel/fiscal/impNfce79.jrxml
build/classes/br/rel/fiscal/impNfce79_subreport_itens.jasper
build/classes/br/rel/fiscal/impNfce79_subreport_itens.jrxml
build/classes/br/rel/fiscal/impNfce79_subreport_pags.jasper
build/classes/br/rel/fiscal/impNfce79_subreport_pags.jrxml
build/classes/br/rel/fiscal/nfce.jpg
build/classes/br/rel/fiscal/relatorioNotasFiscais.jasper
build/classes/br/rel/fiscal/relatorioNotasFiscais.jrxml
build/classes/br/rel/helpDesk/listaAtendimentos.jasper
build/classes/br/rel/helpDesk/listaAtendimentos.jrxml
build/classes/br/rel/helpDesk/listaAtendimentosFinalizados.jasper
build/classes/br/rel/helpDesk/listaAtendimentosFinalizados.jrxml
build/classes/br/rel/pedidos/pedido.jasper
build/classes/br/rel/pedidos/pedido.jrxml
build/classes/br/rel/ponto/cartaoPonto.jasper
build/classes/br/rel/ponto/cartaoPonto.jrxml
build/classes/br/rel/ponto/FaltasGeralPonto.jasper
build/classes/br/rel/ponto/FaltasGeralPonto.jrxml
build/classes/br/rel/ponto/FaltasPonto.jasper
build/classes/br/rel/ponto/FaltasPonto.jrxml
build/classes/br/rel/ponto/ListaCompencacao.jasper
build/classes/br/rel/ponto/ListaCompencacao.jrxml
build/classes/br/rel/produtos/InventarioEstoque.jasper
build/classes/br/rel/produtos/InventarioEstoque.jrxml
build/classes/br/rel/produtos/InventarioEstoqueData.jasper
build/classes/br/rel/produtos/InventarioEstoqueData.jrxml
build/classes/br/rel/produtos/kardex.jasper
build/classes/br/rel/produtos/kardex.jrxml
build/classes/br/rel/produtos/produtosEmFaltaGeral.jasper
build/classes/br/rel/produtos/produtosEmFaltaGeral.jrxml
build/classes/br/rel/produtos/ProdutosMaisVendidos.jasper
build/classes/br/rel/produtos/ProdutosMaisVendidos.jrxml
build/classes/br/rel/produtos/ProdutosNegativos.jasper
build/classes/br/rel/produtos/ProdutosNegativos.jrxml
build/classes/br/rel/produtos/TabelaDeProdutos.jasper
build/classes/br/rel/produtos/TabelaDeProdutos.jrxml
build/classes/br/rel/produtos/VendasMes.jasper
build/classes/br/rel/produtos/VendasMes.jrxml
build/classes/br/rel/transferencia/Tranferencias.jasper
build/classes/br/rel/transferencia/Tranferencias.jrxml
build/classes/br/rel/transferencia/TransferenciasDetalhado.jasper
build/classes/br/rel/transferencia/TransferenciasDetalhado.jrxml
build/classes/br/rel/vendas/FaturamentoVendas.jasper
build/classes/br/rel/vendas/FaturamentoVendas.jrxml
build/classes/br/rel/vendas/FaturamentoVendasMes.jasper
build/classes/br/rel/vendas/FaturamentoVendasMes.jrxml
build/classes/br/rel/vendedores/ComissaoVendedor.jasper
build/classes/br/rel/vendedores/ComissaoVendedor.jrxml
build/classes/br/rel/vendedores/ListaProdutosVendidosPorVendedor.jasper
build/classes/br/rel/vendedores/ListaProdutosVendidosPorVendedor.jrxml
build/classes/br/rel/vendedores/ListaVendasPorVendedor.jasper
build/classes/br/rel/vendedores/ListaVendasPorVendedor.jrxml
build/classes/br/rel/vendedores/RankVendas.jasper
build/classes/br/rel/vendedores/RankVendas.jrxml
build/classes/br/rel/vendedores/RelacaoVendas.jasper
build/classes/br/rel/vendedores/RelacaoVendas.jrxml
build/classes/br/secrecy-icon (Custom).png
build/classes/br/shopping.png
build/classes/br/sql/acesso/Bundle.properties
build/classes/br/sql/acesso/Bundle_en_US.properties
build/classes/br/sql/acesso/Bundle_pt_BR.properties
build/classes/br/sql/acesso/CadastroEmpJanela.form
build/classes/br/sql/acesso/LoginTela.form
build/classes/br/sql/acesso/Updates.form
build/classes/br/sql/buscas/ConsultaClientes.form
build/classes/br/sql/buscas/ConsultaNcm.form
build/classes/br/sql/buscas/ConsultaProdutos.form
build/classes/br/sql/buscas/ConsultaSubContas.form
build/classes/br/sql/cadastros/ClientesJanela.form
build/classes/br/sql/cadastros/ClientesJanelaEdit.form
build/classes/br/sql/cadastros/ECFJanelaBusca.form
build/classes/br/sql/cadastros/FeriadosJanela.form
build/classes/br/sql/cadastros/LojasJanela.form
build/classes/br/sql/cadastros/MetasJanela.form
build/classes/br/sql/cadastros/produtos/FabricantesJanela.form
build/classes/br/sql/cadastros/produtos/FamiliasJanela.form
build/classes/br/sql/cadastros/produtos/GruposJanela.form
build/classes/br/sql/cadastros/produtos/ProdutosEdit.form
build/classes/br/sql/cadastros/produtos/ProdutosJanela.form
build/classes/br/sql/cadastros/produtos/TributosJanela.form
build/classes/br/sql/cadastros/TitulosJanela.form
build/classes/br/sql/cadastros/TransportadorasJanela.form
build/classes/br/sql/cadastros/TransportadorasJanelaEdit.form
build/classes/br/sql/cadastros/UsuarioJanela.form
build/classes/br/sql/dialogo/RecontarEstoque.form
build/classes/br/sql/imagens/calcu.png
build/classes/br/sql/imagens/corents.png
build/classes/br/sql/imagens/Dolar.png
build/classes/br/sql/imagens/engrenagem.gif
build/classes/br/sql/imagens/ESFERA.png
build/classes/br/sql/imagens/full.png
build/classes/br/sql/imagens/Jsys.png
build/classes/br/sql/imagens/mAqua-1920-2.jpg
build/classes/br/sql/imagens/nfce.png
build/classes/br/sql/imagens/Paste.png
build/classes/br/sql/imagens/secrecy-icon (Custom).png
build/classes/br/sql/imagens/shopping.png
build/classes/br/sql/janelas/caixa/AberturaCaixaJanela.form
build/classes/br/sql/janelas/caixa/AlterarClienteVenda.form
build/classes/br/sql/janelas/caixa/ConsultaReceber.form
build/classes/br/sql/janelas/caixa/enviarRelatorioCaixa.form
build/classes/br/sql/janelas/caixa/FechamentoCaixa.form
build/classes/br/sql/janelas/caixa/LancamentoRetiradas.form
build/classes/br/sql/janelas/caixa/PagamentosCaixa.form
build/classes/br/sql/janelas/caixa/RecebimentoCaixa.form
build/classes/br/sql/janelas/caixa/ReciboAvulso.form
build/classes/br/sql/janelas/caixa/ReimpressaoVendas.form
build/classes/br/sql/janelas/caixa/RetiradasJanela.form
build/classes/br/sql/janelas/caixa/RetiradasTransportarJanela.form
build/classes/br/sql/janelas/crm/AgendaTelefonicaEdit.form
build/classes/br/sql/janelas/crm/AgendaTelefonicaJanela.form
build/classes/br/sql/janelas/crm/helpDesk.form
build/classes/br/sql/janelas/crm/helpDeskLista.form
build/classes/br/sql/janelas/crm/helpDeskTipos.form
build/classes/br/sql/janelas/deposito/compras.form
build/classes/br/sql/janelas/deposito/listaPedidos.form
build/classes/br/sql/janelas/deposito/TransferenciaDeposito.form
build/classes/br/sql/janelas/financeiro/BaixarCheque.form
build/classes/br/sql/janelas/financeiro/BaixarPagamento.form
build/classes/br/sql/janelas/financeiro/CadastrarParcelamento.form
build/classes/br/sql/janelas/financeiro/CadastroBancos.form
build/classes/br/sql/janelas/financeiro/CadastroCheques.form
build/classes/br/sql/janelas/financeiro/CadastroContas.form
build/classes/br/sql/janelas/financeiro/CadastroContasSub.form
build/classes/br/sql/janelas/financeiro/ChequesEdit.form
build/classes/br/sql/janelas/financeiro/ConsultaPagamentos.form
build/classes/br/sql/janelas/financeiro/PagamentosEdit.form
build/classes/br/sql/janelas/liberacoes/CancelamentoPagamentos.form
build/classes/br/sql/janelas/liberacoes/LiberacaoGenericaJDialog.form
build/classes/br/sql/janelas/liberacoes/LiberacaoGeralJanelaJDialog.form
build/classes/br/sql/janelas/liberacoes/recebimentoCancelamento.form
build/classes/br/sql/janelas/liberacoes/RetiradasCancelamento.form
build/classes/br/sql/janelas/liberacoes/VendasReaberturaCancelamento.form
build/classes/br/sql/janelas/movimento/AjusteEstoqueJanela.form
build/classes/br/sql/janelas/movimento/ConfirmaProduto.form
build/classes/br/sql/janelas/movimento/ConsultaClientesVendas.form
build/classes/br/sql/janelas/movimento/PedidosJanela.form
build/classes/br/sql/janelas/movimento/VendasJanela.form
build/classes/br/sql/janelas/movimento/VendasJanelaAbertas.form
build/classes/br/sql/janelas/movimento/VendasJanelaAbertura.form
build/classes/br/sql/janelas/pacote/PacoteJanela.form
build/classes/br/sql/janelas/ponto/PontoAjuste.form
build/classes/br/sql/janelas/ponto/PontoAjusteJanela.form
build/classes/br/sql/janelas/ponto/PontoControleCompensacao.form
build/classes/br/sql/janelas/ponto/PontoIntervalo15Janela.form
build/classes/br/sql/janelas/ponto/PontoJanela.form
build/classes/br/sql/janelas/ponto/PontoJanelaConsulta.form
build/classes/br/sql/janelas/utilitarios/CertificadoA1Informacoes.form
build/classes/br/sql/janelas/utilitarios/ImportadorXML.form
build/classes/br/sql/janelas/utilitarios/ParametrosJanelas.form
build/classes/br/sql/janelas/utilitarios/ParametrosLocaisJanelas.form
build/classes/br/sql/janelas/utilitarios/TransmitirDadosFiscais.form
build/classes/br/sql/music/Crash.mp3
build/classes/br/sql/music/Siren.mp3
build/classes/br/sql/music/Wood.mp3
build/classes/br/sql/nfe/Janelas/NfceCancelamento.form
build/classes/br/sql/nfe/Janelas/NfceEmissao.form
build/classes/br/sql/nfe/Janelas/NfceTransmitirContingencia.form
build/classes/br/sql/nfe/Janelas/NfeConsulta.form
build/classes/br/sql/nfe/Janelas/NfeEmissao.form
build/classes/br/sql/nfe/Janelas/NfeEmissaoAddRefNfe.form
build/classes/br/sql/nfe/Janelas/NfeInutilizacao.form
build/classes/br/sql/nfe/Janelas/NfeManifestacao.form
build/classes/br/sql/nfe/Janelas/NfeStatus.form
build/classes/br/sql/util/Calculadora.form
build/classes/br/sql/util/fechaAuto.form
build/classes/br/sql/util/Progress.form
build/classes/jsys/sql/Menu.form
build/classes/jsys/sql/servidoresVinculados.form
build/classes/jsys/sql/Sobre.form
build/classes/jsys/sql/Updates.form
build/classes/META-INF/persistence.xml
build/test/classes/.netbeans_automatic_build
build/test/classes/.netbeans_update_resources
build/test/classes/br/com/relatorios/danfe_retrato_detalhes_leiaute_2xx.jrxml
build/test/classes/br/com/relatorios/danfe_retrato_duplicatas_leiaute_2xx.jrxml
build/test/classes/br/com/relatorios/danfe_retrato_eventos_2xx.jrxml
build/test/classes/br/com/relatorios/danfe_retrato_inf_adic_continuacao_leiaute_2xx.jrxml
build/test/classes/br/com/relatorios/danfe_retrato_leiaute_2xx_cr.jrxml
nbproject/build-impl.xml
nbproject/configs/adapta.properties
nbproject/configs/pacote.properties
nbproject/configs/supervisor.properties
nbproject/configs/supervisorRet.properties
nbproject/configs/vendas.properties
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
