<?xml version="1.0" encoding="UTF-8" standalone="yes"?><webServices><SP><v200><homologacao><consultaCadastro>https://sef.sefaz.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</consultaCadastro></homologacao><producao><downloadNfe>https://set.com.br</downloadNfe></producao></v200><v310><homologacao><consultaCadastro>https://sef.sefaz.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</consultaCadastro></homologacao><producao><downloadNfe>https://set.com.br</downloadNfe></producao></v310></SP></webServices>